asgiref==3.6.0
attrs @ file:///private/tmp/python-attrs-20231231-5195-5kv3i2/attrs-23.2.0
blinker==1.7.0
boto3==1.26.110
botocore==1.29.110
Brotli @ file:///private/tmp/python-brotli-20231117-5377-1dmlxkj/Brotli-1.1.0
certifi==2022.12.7
cffi @ file:///private/tmp/cffi-20231014-5454-1xfyd4s/cffi-1.16.0
charset-normalizer==3.1.0
cli-ui==0.10.3
click @ file:///private/tmp/python-click-20231211-45777-jkrufz/click-8.1.7
colorama==0.4.6
cryptography @ file:///private/tmp/python-cryptography-20231127-6248-fisajh/cryptography-41.0.7
datadog==0.45.0
datadog-api-client==2.11.0
ddfx @ file:///Users/kelly.ebler/code/DDrepos/consul-config/feature_explorer
Django==4.1.7
docutils @ file:///private/tmp/docutils-20231015-5350-1xd6hrn/docutils-0.20.1
Flask==3.0.1
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2 @ file:///private/tmp/python-jinja-20240110-4783-r651qg/Jinja2-3.1.3
jmespath==1.0.1
lxml @ file:///private/tmp/python-lxml-20240108-4680-7k7if8/lxml-5.1.0
MarkupSafe @ file:///private/tmp/python-markupsafe-20231113-5538-1gridwx/MarkupSafe-2.1.3
msgpack==1.0.5
mutagen @ file:///private/tmp/python-mutagen-20231008-5381-g1gbh9/mutagen-1.47.0
neovim==0.3.1
oath==1.4.4
packaging @ file:///private/tmp/python-packaging-20231018-5228-nhvg0j/packaging-23.2
pathspec @ file:///private/tmp/python-pathspec-20231212-4946-k7fih8/pathspec-0.12.1
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5317-3q4okz/platformdirs-4.1.0
protobuf==4.25.1
pycparser @ file:///private/tmp/pycparser-20231013-5559-1dtd22y/pycparser-2.21
pycryptodome==3.19.1
Pygments @ file:///private/tmp/pygments-20231121-5274-1rlyumb/pygments-2.17.2
pynvim==0.4.3
pyparsing @ file:///private/tmp/python-pyparsing-20231009-5447-tvsh4t/pyparsing-3.1.1
python-dateutil==2.8.2
python-vipaccess==0.14.1
pytz @ file:///private/tmp/python-pytz-20231024-5323-3xz6j6/pytz-2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20231018-5457-utbrds/PyYAML-6.0.1
requests==2.28.2
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
tabulate==0.8.10
typing_extensions==4.5.0
Unidecode==1.3.6
urllib3==1.26.15
Werkzeug==3.0.1
